@use "_variables-tema" as vt;
@use "buttons" as bt;

header {
  position: relative;
  display: flex;
  align-items: center;
  margin-right: 100px;
  justify-content: space-between;
  margin-top: 30px;
  margin-bottom: 80px;

  figure.logo img {
    margin-right: 150px;
    width: 150px;
  }

  .principal {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    font-size: 14px;

    ul {
      display: flex;
      justify-content: space-between;
      list-style: none;
      width: 350px;
      margin: 0;
      padding: 0;
      align-items: center;
      li a {
        text-decoration: none;
        color: vt.$primary-color;
      }

      li a.login {
        text-decoration: underline;
      }

      li a.register {
        @include bt.button();
      }
    }
  }
}

ul.second li a img {
  width: 25px;
}

.second .search {
  margin-right: -30px;
}

.green {
  position: absolute;
  top: -30px;
  right: -100px;
  width: 460px;
  height: 600px;
  background-color: rgba(169, 214, 203, 1);
  z-index: -2;
}

.spa {
  position: absolute;
  z-index: -1;
  right: -55px;
  top: 40px;
  width: 400px;
}

nav.principal .submenu {
  list-style: none;
  padding-left: 20px;
  margin: 0;
}

details {
  position: relative;
}

details[open] .submenu {
  display: block;
}

details .submenu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 200px;
  z-index: 10;
}

summary {
  cursor: pointer;
  display: flex;
  align-items: center;
}

summary .arrow {
  margin-right: 8px;
  font-size: 16px;
}

details[open] .arrow {
  transform: rotate(180deg);
}
