@use "_variables-tema" as vt;
@use "buttons" as bt;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin-left: 150px;
  font-family: vt.$primary-font;
}

.mujer img {
  position: absolute;

  right: 0;
  width: 700px;
  z-index: 1;
}

.hero {
  h1 {
    color: vt.$primary-color;
    font-size: 50px;
    width: 600px;
    font-weight: 700;
    margin-bottom: 25px;
  }
  p {
    color: rgba(144, 144, 144, 1);
    width: 500px;
    margin-bottom: 25px;
  }

  .buttons {
    display: flex;
    gap: 70px;
    margin-bottom: 60px;
    align-items: center;

    .btn1 {
      @include bt.button();
      margin-right: 40px;
      text-decoration: none;
    }

    div {
      display: flex;
      align-items: center;
      gap: 0;
      justify-content: space-around;
      position: relative;

      .btn2 {
        display: flex;
        align-items: center;
        margin: 0;
        padding: 0;
        position: absolute;
        right: -50px;
        color: vt.$primary-color;
        text-decoration: none;
      }
      img {
        align-items: center;
        padding-top: 40px;
      }
    }
  }
}

section.icons {
  display: flex;

  div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    margin-right: 50px;
    width: 145px;
    text-align: center;
    p:nth-of-type(1) {
      color: vt.$primary-color;
      font-size: 35px;
    }
    p:last-child {
      color: rgba(144, 144, 144, 1);
    }
  }
}
